body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e9ecef;
}
a {
    text-decoration: none;
    color: #28a745;
}
a:hover {
    text-decoration: underline;
}

.header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-between;
    margin: 10px;
    height: 112px; /* Increased height */

}

.profile-picture {
    width: 150px; /* Largeur fixe */
    height: 150px; /* Hauteur fixe pour que ce soit un carré */
    border-radius: 50%; /* Rendre l'élément circulaire */
    border: 2px solid #111; /* Ajouter une bordure */
    display: flex; /* Centrer le contenu */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    background-color: #f0f0f0; /* Facultatif : couleur de fond */
}

.buttonHeader{
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    color: #111;
    font-family: Inter, sans-serif;
    font-size: 56px; /* Increased font size */
    height: 112px; /* Increased height */
    justify-content: center;
    max-width: 100%;
    text-align: center;
    text-decoration: none;

}

