body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
}
a {
    text-decoration: none;
    color: #007bff;
}
a:hover {
    text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF5EE;
}
.btn-group {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.btn {
    font-size: 1.2rem;
    padding: 10px 20px;
}
